USE [master]
GO
/****** Object:  Database [ShopOline]    Script Date: 5/30/2023 5:34:49 PM ******/
CREATE DATABASE [ShopOline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopOline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopOline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopOline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopOline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopOline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopOline]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MADONHANG] [varchar](20) NOT NULL,
	[MASP] [varchar](3) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CTDH] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGIOHANG]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIOHANG](
	[MAGIOHANG] [varchar](20) NOT NULL,
	[MASP] [varchar](3) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_MGH] PRIMARY KEY CLUSTERED 
(
	[MAGIOHANG] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MADANHGIA] [varchar](20) NOT NULL,
	[MATHANHVIEN] [varchar](20) NULL,
	[MASP] [varchar](3) NOT NULL,
	[NOIDUNG] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DG] PRIMARY KEY CLUSTERED 
(
	[MADANHGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADONHANG] [varchar](20) NOT NULL,
	[TRIGIA] [money] NOT NULL,
	[NGAYDONHANG] [date] NOT NULL,
	[PHUONGTHUCTHANHTOAN] [nvarchar](30) NOT NULL,
	[MATHANHVIEN] [varchar](20) NOT NULL,
	[MATAIKHOAN] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DH] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MAGIOHANG] [varchar](20) NOT NULL,
	[NGAYTHEM] [date] NULL,
 CONSTRAINT [PK_GH] PRIMARY KEY CLUSTERED 
(
	[MAGIOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [varchar](3) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[TINHTRANG] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LSP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](3) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[GIA] [money] NOT NULL,
	[TINHTRANG] [nvarchar](20) NOT NULL,
	[MOTA] [nvarchar](3000) NULL,
	[HINHCHINH] [nvarchar](10) NULL,
	[MALOAI] [varchar](3) NOT NULL,
 CONSTRAINT [PK_MSP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANTHANHVIEN]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANTHANHVIEN](
	[MATAIKHOAN] [varchar](20) NOT NULL,
	[MATHANHVIEN] [varchar](20) NOT NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TKTV] PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 5/30/2023 5:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[MATHANHVIEN] [varchar](20) NOT NULL,
	[TENTHANHVIEN] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[SODIENTHOAI] [char](10) NOT NULL,
 CONSTRAINT [PK_TV] PRIMARY KEY CLUSTERED 
(
	[MATHANHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4b5ded0f-ff5b-4686-a76b-a77dd3df6893', N'Admin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'951ffe77-251b-4228-a41e-1b6386749b53', N'4b5ded0f-ff5b-4686-a76b-a77dd3df6893')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'951ffe77-251b-4228-a41e-1b6386749b53', N'admin@gmail.com', 0, N'ABF0E7VX3nuZLPs6TUUo/ihYM4k82kQM42rZ7/xMtLrOzmDZGz0zrU7OgHWQNUZEzg==', N'7e564a11-9eba-4645-aabe-3bf33513eb3d', NULL, 0, 0, NULL, 0, 0, N'admin@gmail.com')
GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TINHTRANG]) VALUES (N'001', N'ADIDAS', N'ĐANG HIỂN THỊ')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TINHTRANG]) VALUES (N'002', N'YEEZY', N'ĐANG HIỂN THỊ')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [TINHTRANG]) VALUES (N'003', N'JORDAN', N'ĐANG HIỂN THỊ')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [TINHTRANG], [MOTA], [HINHCHINH], [MALOAI]) VALUES (N'A01', N'ADIDAS 1', 650.0000, N'ĐANG HIỂN THỊ', N'Timeless elegance for your feet', N'A01.JPG', N'001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [TINHTRANG], [MOTA], [HINHCHINH], [MALOAI]) VALUES (N'A02', N'ADIDAS 2', 550.0000, N'ĐANG HIỂN THỊ', N'Fuel your stride with comfort', N'A02.JPG', N'001')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [TINHTRANG], [MOTA], [HINHCHINH], [MALOAI]) VALUES (N'A03', N'ADIDAS 3', 450.0000, N'ĐANG HIỂN THỊ', N'Elevate your style effortlessly', N'A03.JPG', N'001')
GO
INSERT [dbo].[THANHVIEN] ([MATHANHVIEN], [TENTHANHVIEN], [DIACHI], [GIOITINH], [SODIENTHOAI]) VALUES (N'LT001', N'NGUYỄN TRẦN TRUNG QUÂN', N'MỸ THO', N'NAM', N'0901235895')
INSERT [dbo].[THANHVIEN] ([MATHANHVIEN], [TENTHANHVIEN], [DIACHI], [GIOITINH], [SODIENTHOAI]) VALUES (N'LT002', N'TRẦN THIỆN THANH BẢO', N'HỒ CHÍ MINH', N'NAM', N'0901235875')
INSERT [dbo].[THANHVIEN] ([MATHANHVIEN], [TENTHANHVIEN], [DIACHI], [GIOITINH], [SODIENTHOAI]) VALUES (N'LT003', N'NGUYỄN THANH TÙNG', N'GIA LAI', N'NAM', N'0901455895')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/30/2023 5:34:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/30/2023 5:34:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/30/2023 5:34:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 5/30/2023 5:34:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/30/2023 5:34:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/30/2023 5:34:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK1_CTDH] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK1_CTDH]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK2_CTDH] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK2_CTDH]
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD  CONSTRAINT [FK1_CTGH] FOREIGN KEY([MAGIOHANG])
REFERENCES [dbo].[GIOHANG] ([MAGIOHANG])
GO
ALTER TABLE [dbo].[CHITIETGIOHANG] CHECK CONSTRAINT [FK1_CTGH]
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD  CONSTRAINT [FK2_CTGH] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETGIOHANG] CHECK CONSTRAINT [FK2_CTGH]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK1_DG] FOREIGN KEY([MATHANHVIEN])
REFERENCES [dbo].[THANHVIEN] ([MATHANHVIEN])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK1_DG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK2_DG] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK2_DG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK1_DH] FOREIGN KEY([MATHANHVIEN])
REFERENCES [dbo].[THANHVIEN] ([MATHANHVIEN])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK1_DH]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK2_DH] FOREIGN KEY([MATAIKHOAN])
REFERENCES [dbo].[TAIKHOANTHANHVIEN] ([MATAIKHOAN])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK2_DH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK1_SP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK1_SP]
GO
ALTER TABLE [dbo].[TAIKHOANTHANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK1_TKTV] FOREIGN KEY([MATHANHVIEN])
REFERENCES [dbo].[THANHVIEN] ([MATHANHVIEN])
GO
ALTER TABLE [dbo].[TAIKHOANTHANHVIEN] CHECK CONSTRAINT [FK1_TKTV]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[THANHVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'nữ' OR [GIOITINH]=N'NAM'))
GO
ALTER TABLE [dbo].[THANHVIEN]  WITH CHECK ADD CHECK  ((len([SODIENTHOAI])=(10)))
GO
USE [master]
GO
